<style>
  .card {
    margin: 10px;
    border-radius: 5px;
  }
  .card-img-top {
    height: 200px; /* Изменяем высоту изображения */
    object-fit: cover; /* Растягиваем изображение на всю область */
  }
</style>
<div class="col-md-4">
  <div class="card">
  <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Product Image">
  <div class="card-body">
    <h5 class="card-title">{{ level.title }}</h5>
    <p class="card-text">{{ level.description|truncatechars:50 }}</p>
    <a href="#" class="btn btn-primary">Смотреть</a>
  </div>
  </div>
</div>
